html {
	font-size: 16px;
}

body {
	margin: 0 auto 0 auto;
	color: $color-black;
	font-family: $font-primary;
  line-height: 1.3;
	background-color: $color-bg;
	
	@media only screen and (max-width:767px) {
		&.splash {
			background-size: auto;
			background-position: center top
		}
	}
}

a {
	color: $color-white;
	font-family: $font-secondary;
	@include hover-focus {
		color: $color-yellow;
	}
}
.container, 
.container-alt, 
.fade-in, 
.section-intro,
.wrapper, 
section{
	position: relative;
}
.section-title {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-family: 'Libre Baskerville', serif;
	font-size: rem(32px);
	font-weight: 700;
	justify-content: center;
	letter-spacing: letter-spacing(200);
	margin: 0 0 rem(65px) 0;
	text-indent: text-indent(200);
	text-transform: uppercase;

	&:before, &:after {
		background: $color-gray;
		content: '';
		flex: 1 1 auto;
		height: 1px;
		width: 100%;
	}

	> span {
		display: inline-block;
		flex: 0 0 auto;
		padding: 0 rem(40px);
		vertical-align: middle;

		> a {
			color: $color-white;

			@include hover-focus {
				color: $color-yellow;
			}
		}
	}

	@include phone-sm-down {
		font-size: rem(24px);
		padding: 0 rem(10px);
	}
}

.container {
	@include phone-down {
		padding: 0 20px;
	}
}

.more {
	text-align: center;
}

.wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before {
	padding-top: 90%;
}

.popup {
	background: $color-white;
	margin: 20px auto;
	max-width: 500px;
	padding: rem(20px);
	position: relative;
	width: auto;

	form {
		margin: 0 auto;
	}
}


#newsletter-modal {
	background: $color-white;
	color: $color-black;
	margin: 20px auto;
	max-width: 400px;
	padding: rem(20px);
	position: relative;
	width: auto;

	.mfp-close {
		color: $color-white;
		opacity: 1;
		top: rem(7px);
	}

	.newsletter-title {
		background: $color-black;
		color: $color-white;
		font-size: rem(20px);
		font-weight: 500;
		line-height: 1;
		margin: -20px -20px 20px -20px;
		padding: 20px;

		> svg {
			display: inline-block;
			height: auto;
			margin-right: 5px;
			vertical-align: middle;
			width: rem(45px);

			path {
				fill: $color-white;
			}
		}
	}

	.form {
		p,
		.form-group {
			margin-bottom: rem(30px);
		}

		label {
			display: block;
			font-size: rem(14px);
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
		}

		input, select {
			background: $color-white;
			border: 0;
			border-bottom: 2px solid $color-black;
			color: $color-black;
			display: block;
			padding: rem(5px) 0;
			width: 100%;

			@include placeholder {
				color: $color-black;
			}

			&:focus {
				border-color: $color-black;
				outline: 0;
			}

		}

		.submit {
			text-align: center;
		}


		.legal {
			font-size: rem(10px);
			list-style: none;
			margin: rem(30px) 0 0 0;
			padding: 0;
			text-align: center;

			> li {
				display: inline-block;
				vertical-align: middle;

				+ li {
					&:before {
						content: ' | ';
					}
				}

				> a {
					color: $color-black;

					@include hover-focus {
						color: $color-black;
						text-decoration: underline;
					}
				}
			}
		}

	}

	.thank-you {
		display: none;
		text-align: center;

		p {
			font-size: rem(16px);
			line-height: line-height(18px, 16px);
			margin-bottom: rem(15px);
		}

		iframe {
			margin: 0 auto;
		}
	}
}
.logo-link{
	transition: all .2s ease-out;
	background: url(../img/logo/logo-awal-white.webp) no-repeat;
	background-size: cover;
	img{
		height: 38px;
	  opacity: 0;
	}
  &:hover{
    background-image: url(../img/logo/logo-awal-hover.webp) !important;
  } 
}


.btn.show-more,
button.show-more {
  position: relative;
  display: inline-block;
  font-size: rem(12px);
  letter-spacing: 2px;
  line-height: 1;
  padding: 14px 40px 14px 20px;
  color: #000;
  border-color: #000;
	border-radius: 0;
	border-width: 2px;
	font-family: $font-primary;
	font-weight: bold;
	@media only screen and (min-device-height:768px) and (min-device-width:1024px) {
		&:hover{
			background-color: #22222b;
			color: #FFF;
			&:before, &:after{
				background-color: #FFF;
			}
		}
	}
	&.more:after{
		-webkit-transform: translateY(-50%) rotate(90deg);
		-ms-transform: translateY(-50%) rotate(90deg);
		transform: translateY(-50%) rotate(90deg)
	}
	&:after, &:before{
		content: '';
		display: block;
		right: 20px;
		width: 10px;
		height: 2px;
		background-color: #000;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: all .2s ease-out;
		-o-transition: all .2s ease-out;
		transition: all .2s ease-out;
	}
	&:after{
		width: 2px;
		height: 10px;
		right: 24px;
	}
}

.gradient-border{
  position: relative;
	&:before {
		display: block;
		position: relative;
		width: 100%;
		height: 4px
	}
	&.border-home:before {
		background-image: -webkit-linear-gradient(45deg, #ff008a 0, #00F 100%) !important;
		background-image: -o-linear-gradient(45deg, #ff008a 0, #00F 100%) !important;
		background-image: linear-gradient(45deg, #ff008a 0, #00F 100%) !important
	}
	&.border-distro:before {
		background-image: -webkit-linear-gradient(224deg, #00e5ff 0, #00F 100%) !important;
		background-image: -o-linear-gradient(224deg, #00e5ff 0, #00F 100%) !important;
		background-image: linear-gradient(-134deg, #00e5ff 0, #00F 100%) !important
	}

	&.border-services:before {
		background-image: -webkit-linear-gradient(224deg, #ff008a 0, #00e5ff 100%) !important;
		background-image: -o-linear-gradient(224deg, #ff008a 0, #00e5ff 100%) !important;
		background-image: linear-gradient(-134deg, #ff008a 0, #00e5ff 100%) !important
	}

	&.border-application:before {
		background-image: -webkit-linear-gradient(224deg, #ff6f00 0, #fef200 100%) !important;
		background-image: -o-linear-gradient(224deg, #ff6f00 0, #fef200 100%) !important;
		background-image: linear-gradient(-134deg, #ff6f00 0, #fef200 100%) !important
	}

	&.border-artists:before {
		background-image: -webkit-linear-gradient(224deg, #ee3293 0, #b000db 100%) !important;
		background-image: -o-linear-gradient(224deg, #ee3293 0, #b000db 100%) !important;
		background-image: linear-gradient(-134deg, #ee3293 0, #b000db 100%) !important
	}

	&.border-how-it-works:before {
		background-image: -webkit-linear-gradient(45deg, #b000db 0, #00e5ff 100%) !important;
		background-image: -o-linear-gradient(45deg, #b000db 0, #00e5ff 100%) !important;
		background-image: linear-gradient(45deg, #b000db 0, #00e5ff 100%) !important
	}

	&.border-blog:before {
		background-image: -webkit-linear-gradient(45deg, #00e5ff 0, #0050ff 35%, #00F 100%) !important;
		background-image: -o-linear-gradient(45deg, #00e5ff 0, #0050ff 35%, #00F 100%) !important;
		background-image: linear-gradient(45deg, #00e5ff 0, #0050ff 35%, #00F 100%) !important
	}

	&.sitemap:before {
		background-image: -webkit-linear-gradient(45deg, #ff008a 0, #00F 100%) !important;
		background-image: -o-linear-gradient(45deg, #ff008a 0, #00F 100%) !important;
		background-image: linear-gradient(45deg, #ff008a 0, #00F 100%) !important
	}
}
p{
	margin: 0;
	padding: 0;
}


.arrow {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #22222b;
  font-family: "Maison Mono Bold", sans-serif;
  transition: all .2s ease-out;
  &:after {
    background-size: contain;
    padding-left: 15px;
    margin-left: 5px;
    image-rendering: -webkit-optimize-contrast;
    transition: all .2s ease-out;
    vertical-align: middle;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    white-space: nowrap;
    top: -1px;
    background-image: url(../img/arrow-right-black.webp);
    position: relative;
  }
	&:hover {
		color: #ff008a;
		&:after {
			margin-left: 10px;
			background-image: url(../img/arrow-right-pink.png)
		}
	}
}
h1 {
	font-size: rem(64px);
  line-height: .98;
	font-weight: bold;
	margin: 0;
}
h6 {
	font-size: rem(38px);
	line-height: 1.11;
	margin: 0;
	font-weight: bold;
}
.parallax{
  position: relative;
	top: 0;
	&.fade.in{
		opacity: 1;
	}
}