.page-legal {
	border-bottom: 1px solid #9b9b9b;
	min-height: calc(100vh - 235px);
	background-color: #22222b;
	color: $color-white;
	
	@media only screen and (max-width:767px) {
		.page-legal {
			min-height: inherit
		}
	}

	.container {
		padding: 250px 0 200px;
		max-width: 772px;
		@media only screen and (max-width:767px) {
			.page-legal .container {
				padding: 130px 0
			}
		}		
	}
	.legal-container {
		position: relative;
		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
			line-height: 0;
		}

		h2 {
			position: relative;
			margin: 0 0 60px;
			font-size: rem(60px);
			line-height: 1.03;
			letter-spacing: -1.5px;
			color: #FFF;
			font-family: "Maison Neue", sans-serif;
			font-weight: bold;

			@media only screen and (max-width:767px) {
				font-size: rem(50px);
				line-height: 1.08;
				letter-spacing: -1px
			}
		}

		h3{
			margin: rem(55px) 0 rem(30px);
			color: #fff;
			font-size: rem(24px);
			line-height: 1.25;
			letter-spacing: -.6px;
			font-family: "Maison Neue", sans-serif;
			font-weight: bold;
		}
		h4{
			font-size: rem(18px);
			line-height: 1.56;
			letter-spacing: -.1px;
			margin: 0 0 30px;
			font-family: "Maison Neue Book",sans-serif;
			font-weight: bold;
		}
		p{
			font-size: rem(18px);
			line-height: 1.56;
			letter-spacing: -.1px;
			margin: 0 0 30px;
			font-family: "Maison Neue Book", sans-serif;
			color: $color-white;
			&:last-child {
				margin: 0
			}
			a {
				display: inline;
				word-break: break-word;
				text-decoration: underline
			}
		}
		ol, ul {
			padding-left: 20px;
			margin: 0 0 30px;
			li {
				margin-bottom: 10px;
				font-weight: bold;
				&:last-child {
					margin: 0
				}
			}
		}
		ol {
			list-style-type: lower-roman;
		}
		ul {
			list-style-type: decimal;
		}

		table {
			table-layout: fixed;
			width: 100%;
			border: 1px solid #FFF;
			border-collapse: collapse;
			border-spacing: 0;
			margin: 0 0 18px 0;
			padding: 0;
			font: inherit;
			vertical-align: baseline;
			thead{
				border-bottom: none;
			}
			td, th {
				padding: 10px;
				text-align: left;
				border-right: 1px solid #FFF;
				border-bottom: 1px solid #FFF;
				&:last-child {
					border-right: 0
				}
				a {
					display: inline;
					word-break: break-word;
					text-decoration: underline;
					color: #FFF
				}
			}
		}
		strong {
			font-family: "Maison Neue", sans-serif;
			font-weight: bold;
		}
		.wp-block-group{
			display: block;
			margin: 12px 0 12px 0;
			padding: 8px 8px 0 8px;
			border: 1px solid #333333;
			vertical-align: top;
		}
	}
	footer {
		border-top: 1px solid #9b9b9b;
		.container {
			padding: 30px 0;
			max-width: 1340px
		}
	}
}