$html-font-size: 16px;
$color-white: #fff;
$color-black: #22222B;
$color-teal: #eaf0f0;
$color-gray: #ced2cf;
$color-gray-2: #f7f7f7;
$color-gray-3: #D3D3D5;
$color-gray-4: #64646B;
$color-gray-5: #E1E1E5;
$color-gray-6: #F4F4F4;;
$color-orange: #ff482a;
$color-yellow: #FEF200;
$color-red: #FF0000;
$color-bg: #22222B;
$color-invalid: #ff0000;

$font-primary: "Maison Neue";
$font-secondary: Helvetica, Montserrat;
$font-label: "Maison Neue Mono";


$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-height: 5px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-border-radius: 5px;
$hamburger-layer-color: $color-black;
$hamburger-hover-opacity: 1;